.graficas {
	.grafica {
		gap: 1rem;
		margin-bottom: 1.5rem;
		padding: 1rem 8px;

		.texto {
			text-transform: lowercase;
		}
	}
}

@media screen and (max-width: 899px) {
	.pc {
		display: none;
	}
}

@media screen and (min-width: 900px) {
	.graficas {
		width: 100%;
		display: grid;
		gap: 10px;
		grid-auto-flow: dense;
		grid-template-columns: repeat(8, 1fr);
		// display: flex;
		// flex-wrap: wrap;
		// gap: 10px;
		// justify-content: space-around;

		.grafica {
			margin: 0;
		}
	}

	.col1 {
		// width: 40%;
		grid-column: 1/3;
	}

	.col2 {
		// max-width: 57%;
		grid-column: 3/-1;
	}

	.movil {
		display: none;
	}
}
