@import "./variables.scss";

$tamanioTitulo: 40px;

$font-size-sm: 0.9rem;
$font-size-base: 1rem;
$font-size-lg: 1.1rem;
$font-size-xl: 1.3;

* {
  font-family: "Lato", sans-serif, "Franklin Gothic Medium", "Arial Narrow",
    Arial;
  font-size: 16px;
}

@for $i from 1 to 4 {
  h#{$i} {
    font-size: $tamanioTitulo;
    font-weight: bold;
    margin: 0.8rem 0rem 1.5rem 0px;
    transition: all 0.4s ease-in-out;
    font-family: "Beatrice", sans-serif, " Segoe UI", Tahoma, Geneva, Verdana;
  }

  $tamanioTitulo: $tamanioTitulo - 5;
}

a {
  color: $fondoBoton;
}

@media screen and (min-width: 601px) {
  p,
  a,
  span,
  label,
  input {
    font-family: "Lato", sans-serif, "Franklin Gothic Medium", "Arial Narrow",
      Arial;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 991px) {
  p,
  a,
  span,
  label,
  input {
    font-family: "Lato", sans-serif, "Franklin Gothic Medium", "Arial Narrow",
      Arial;
    font-size: 1.2rem;
  }
}
