$fondo: #f7f7f7;
$fondoCard: #094067;
$colorTirulos: #094067;
$colorTexto: #5f6c7b;
$colorBordes: #dbdbdb;
$fondoBoton: #3da9fc;
$colorBoton: #fffffe;
$fondoHeader: $fondoBoton;
$fondoFormulario: #fefefe;
$tamanioHeader: 60px;
$colorLink: #ef4565;
$fondoError: #ffb3b3;
$colorError: #cc0f35;
$disable: #e7e4e4;
$fondoSucces: #ebfffc;
$colorSucces: #00947e;
